@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #fff;
}

#phone {
  height: 852px;
  width: 393px;
  background: #d22e41;
}

.status-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar > .left {
  display: flex;
  gap: 6px;
  padding-left: 3rem;
}

.status-bar > .right {
  display: flex;
  gap: 6px;
  padding-right: 2.5rem;
}

.main {
  height: 762px;

  display: grid;
  grid-template-rows: 2fr 3fr 1fr 1fr;
  justify-items: center;
}

.prompt {
  width: 307px;
  align-self: end;
}

.prompt > p {
  font-size: 24px;
  text-align: center;
}
