@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

.frame {
  position: absolute;
  top: 12px;
  left: 1px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

#phone {
  height: 852px;
  width: 393px;
  background: linear-gradient(#d22e41, #d1061e);
  margin-left: 2rem;
  margin-top: 3rem;
  border-radius: 32px;
}

.status-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar > .left {
  display: flex;
  gap: 6px;
  padding-left: 3rem;
}

.status-bar > .right {
  display: flex;
  gap: 6px;
  padding-right: 2.5rem;
}

.main {
  height: 792px;

  display: grid;
  grid-template-rows: 2fr 3fr 1fr 0.5fr;
  justify-items: center;
}

.prompt {
  width: 307px;
  align-self: end;
}

.prompt > p {
  font-size: 24px;
  text-align: center;
}

.gender-container {
  align-self: center;
  display: flex;
  gap: 64px;
}

.female-container,
.male-container {
  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-items: center;
  gap: 20px;
}

.female,
.male {
  height: 132px;
  width: 132px;
  background-color: #fff;
  color: #d22e41;
  border-radius: 10px;
  padding-top: 0.5rem;

  display: grid;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  align-items: center;
}

.radio {
  width: 36px;
  height: 36px;
  border: 4px solid #fff;
  border-radius: 100%;
}

button {
  width: 353px;
  height: 48px;
  border: 0;
  color: #d22e41;
  border-radius: 54px;
  font-size: 16px;
  font-weight: bold;
  align-self: end;
}

hr {
  width: 140px;
  height: 5px;
  border-radius: 5px;
  background-color: #000;
  border: 0;
  align-self: end;
}
