@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Kaushan Script";
  src: url("./assets/fonts/KaushanScript-Regular.ttf");
}

body {
  font-family: "Inter", sans-serif;
}

#phone {
  height: 852px;
  width: 393px;
  border: 1px solid black;
  background: linear-gradient(#d22e41, #d1061e);
  color: #fff;
  padding-top: 8px;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #d22e41;
}

.status-bar > .left {
  display: flex;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 2rem;
}

.status-bar > .right {
  display: flex;
  gap: 8px;
  margin-right: 2rem;
}

.main {
  height: 500px;
}

h1,
h2 {
  font-family: "Kaushan Script", serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 12rem;
  font-size: 59px;
}

h2 {
  font-size: 36px;
}

button {
  width: 307px;
  height: 48px;
  border: 0;
  border-radius: 54px;
  background-color: #fff;
  font-weight: bold;
  margin-top: 12rem;
  margin-left: 43px;
}

.home-bar {
  width: 140px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}

.version {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 4.5rem;
}
