@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Kaushan Script";
  src: url("./assets/fonts/KaushanScript-Regular.ttf");
}

.frame {
  position: absolute;
  top: 12px;
  left: 1px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

.phone {
  height: 852px;
  width: 393px;
  background: linear-gradient(#d22e41, #d1061e);
  margin-left: 2rem;
  margin-top: 3rem;
  border-radius: 32px;
  opacity: 0;
}

.show {
  animation: appear 1s ease-out;
  opacity: 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide {
  animation: disappear 1s ease-in;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(1000px);
  }
}

.status-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar > .left {
  display: flex;
  gap: 6px;
  padding-left: 3rem;
}

.status-bar > .right {
  display: flex;
  gap: 6px;
  padding-right: 2.5rem;
}

.main {
  height: 792px;

  display: grid;
  grid-template-rows: 5fr 2fr 1fr 0.5fr;
  justify-items: center;
}

.main > .title {
  display: grid;
  justify-items: center;
}

.title * {
  font-family: "Kaushan Script", "sans-serif";
  margin: 0;
  padding: 0;
}

.title > p:first-child {
  font-size: 56px;
  align-self: end;
}

.title > p:nth-child(2) {
  font-size: 36px;
  align-self: start;
}

button {
  width: 307px;
  height: 48px;
  border: 0;
  border-radius: 54px;
  font-size: 16px;
  font-weight: bold;
  align-self: end;
  margin-bottom: 2rem;
}

.version {
  align-self: end;
}

.home-bar {
  width: 140px;
  height: 5px;
  border-radius: 5px;
  background-color: #000;
  border: 0;
  align-self: end;
  justify-self: center;
  margin-bottom: 1rem;
  z-index: 99;
  cursor: pointer;
}

a {
  display: block;
  height: 100%;
  text-decoration: none;
  padding-top: 0.9rem;  
  color: #000;
  position: relative;
}